.card {
  border: 2px solid white;
  height: 600px;
  width: 400px;
  /* margin: auto; */
  margin: 1rem;
  border-radius: 3rem;
  background-color: #43b1ed;
  /* color: rgba(red, green, blue, 1); */
}

.card-body {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* img {
  padding-bottom: 25px;
  border: 1px solid white;
} */

.image {
  height: 100%;
  width: 100%;
}

p {
  font-size: 18px;
}

.card:hover {
  cursor: pointer;
  border-radius: 4rem;
  filter: brightness(1.15);
  transform: scale(1.06);
}

@media screen and (max-width: 600px) {

  .card {
    border: 2px solid black;
    max-height: 550px;
    max-width: 300px;
    margin: auto;
    border-radius: 45px;
  }

  img {
    height: 300px;
    width: 200px;
    border-radius: 60px;
    padding-bottom: 10px;
  }

  p {
    font-size: 16px;
  }
}